.cursor{
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: #baf400;
    position: fixed;
    border-radius: 50px;
    z-index: 100000000000000000000000000000;
    pointer-events: none;
    /* mix-blend-mode: difference; */
    border-top-left-radius: 0px;
    font-family: neue;
    letter-spacing: 1px;
    word-spacing: 3px;
    opacity: 0;
    visibility: hidden;
    will-change: transform;
}

@media (max-width: 768px), (pointer: coarse) {
  .cursor,
  #webCursor {
    display: none !important;
  }
}